DISCORD_TOKEN=OTA0NDcwNDUzMjc4NjE3NjAw.GgDcRZ.XlpogCVhHB5TNh5wUmdryQ27ABIyWiZ4_20EyA
NFT_MARKETPLACE_ADDRESS= 0xb4fa69997f7560fe48f375b03f73b8774cb3bf5a
IS_TESTNET = true
INDEXER_KEY = cd66db4a-cfc8-4db3-951c-b9c633566196